---
extends: default

rules:
  line-length: disable
  indentation: {spaces: 2, indent-sequences: consistent}

ignore: |
  .tox/
  **/context/.travis.yml
  **/govmomi/.travis.yml
  **/govmomi/.goreleaser.yml
  **/mux/.travis.yml
  **/vendor
